.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    min-height: 60px;
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 10;
    border-bottom: 3px solid #05386b;
    border-bottom-left-radius: 70%;
    background-color:#5cdb95;
}

.nav-container img {
    width: 200px;
    margin-top: 50px;
    border-radius: 100px;
    border: 3px solid #05386b;
    border-right: 10px solid #05386b;
    border-bottom: 10px solid #05386b;
    padding: 20px;
    transition: .2s;
}

.nav-container img:hover {
    width: 200px;
    margin-top: 50px;
    border-radius: 100px;
    border: 3px solid #05386b;
    padding: 20px;
}

@media screen and (max-width: 768px) {

    .nav-container {
        border-bottom-left-radius: 0%;
    }

    .nav-container img {
        width: 100px;
    }
    
}

.wallet-address {
    width: auto;
    min-height: 60px;
    position: fixed;
    top: 50vh;
    left: -240px;
    z-index: 20;
    border-bottom: 3px solid aliceblue;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color:#05386b;
    padding: 0 50px;
    transform: rotate(-90deg);
}

.wallet-address p {
    font-size: 1rem;
    color: aliceblue;
}